@import 'src/assets/style/variables';

.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
	&__trigger {
		display: flex;
		align-items: center;
	}
	&__menu {
		position: absolute;
		top: 100%;
		right: 0;
		width: 200px;
		border-radius: 12px;
		background-color: #fff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border: 1px solid #ccc;
		z-index: 100;
		padding: 8px;
		box-shadow: 0px 0px 2px 0px #5a5a5a;

		@media only screen and (max-width: 768px) {
			width: 160px;
		}
	}

	&__option {
		padding: 8px;
		cursor: pointer;
		font-family: $default-font-M;
		font-size: 16px;
		font-weight: 500;
		padding: 8px, 12px, 8px, 12px;
		transition: color 0.3s ease;
		&:hover {
			color: $ColorAccent;
		}
	}
}

.dots {
	width: 24px;
	height: 24px;
	transition: all 0.3s ease;
	background: url('src/assets/img/dots.svg');
	&:hover {
		background: url('src/assets/img/dots_hover.svg');
	}
	&__tap {
		background: url('src/assets/img/dots_tap.svg');
	}
}
