@import 'src/assets/style/variables';

.header {
	display: inline-flex;
	align-content: center;
	margin-top: 20px;
	&__icon {
		margin-right: 8px;
		width: 28px;
		height: 28px;
		background: url('src/assets/img/Backarrow.svg') no-repeat center center;
	}
	&__text {
		text-decoration: none;
		font-family: $default-font-M;
		font-size: 20px;
		font-weight: 600;
	}
}
.link {
	color: $Color-02;
}
