@import 'src/assets/style/variables';

.header {
	display: inline-flex;
	align-content: center;
	margin-top: 20px;
	&__icon {
		margin-right: 8px;
		width: 28px;
		height: 28px;
		background: url('src/assets/img/Backarrow.svg') no-repeat center center;
	}
	&__text {
		text-decoration: none;
		font-size: 20px;
		font-weight: 600;
	}
}
.link {
	color: $Color-02;
}

.container {
	display: flex;
	margin-top: 44px;
	padding-bottom: 20px;
	justify-content: space-between;

	@media only screen and (max-width: 768px) {
		flex-direction: column;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		width: 360px;
		padding: 40px;
		border-radius: 16px;
		background-color: $Color-06;
		margin-right: 40px;

		@media only screen and (max-width: 768px) {
			width: 100%;
		}

		&_photo img {
			border-radius: 8px;

			@media only screen and (max-width: 768px) {
				width: 287px;
				height: 187px;
				object-fit: cover;
			}
		}
	}
	&__info {
		flex-grow: 1;
		width: 760px;
		background-color: $Color-06;
		padding: 40px;
		border-radius: 16px;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin-top: 32px;
			padding: 28px;
		}
	}
}

.info__title {
	margin-bottom: 24px;
	border-bottom: 1px solid $Color-04;
	padding-bottom: 18px;
	font-size: 24px;
	font-weight: 600;
	color: $Color-01;
}
